* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #dedede;
  background-color: #191920;
}

main {
  margin: 0 auto;
}


img {
    max-width: 100%;
}

/* Links */

a {
  color: #dedede;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(51, 57, 186);
}

a:active {
  color: rgb(98, 103, 181);
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 4rem;
}

/* Slider */

.slider {
  margin: 3.5rem auto;
  width: 40rem;
  overflow: hidden;
}

.meme-slider {
  display: flex;
}

.meme {
  width: 40rem;
}

input[name="nav"] {
  visibility: hidden;
}

/* Pagination */

.pagination {
  display: flex;
}

label {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: rgb(38, 43, 143);
  border-radius: 50%;
  border: 0.4rem solid #191920;
  transition: 0.4s;
  cursor: pointer;
}

label:hover {
  background-color: rgb(11, 87, 250);
  transition: 0.4s;
}

label:active {
  background-color: rgb(44, 44, 99);
  transition: 0.4s;
}

/* Slider animation */

#btn-1:checked ~ .img-slider .meme-slider {
  transform: translateX();
  transition: 0.6s;
}

#btn-2:checked ~ .img-slider .meme-slider {
  transform: translateX(-40rem);
  transition: 0.6s;
}

#btn-3:checked ~ .img-slider .meme-slider {
  transform: translateX(-80rem);
  transition: 0.6s;
}

#btn-4:checked ~ .img-slider .meme-slider {
  transform: translateX(-120rem);
  transition: 0.6s;
}

/* Pagination activ  */

#btn-1:checked ~ .info-wrapper .pagination label:nth-child(1) {
  background-color: #dedede;
}

#btn-2:checked ~ .info-wrapper .pagination label:nth-child(2) {
  background-color: #dedede;
}

#btn-3:checked ~ .info-wrapper .pagination label:nth-child(3) {
  background-color: #dedede;
}

#btn-4:checked ~ .info-wrapper .pagination label:nth-child(4) {
  background-color: #dedede;
}

/* Descroption info */

.info-wrapper {
  display: flex;
  width: 40rem;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.info-slider {
  width: 20rem;
  overflow: hidden;
}

.info {
  display: flex;
  width: 160rem;
}

.info p {
  width: 40rem;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Desc. info animation */

#btn-1:checked ~ .info-wrapper .info-slider .info {
  transform: translateX();
  transition: 0.6s;
}

#btn-2:checked ~ .info-wrapper .info-slider .info {
  transform: translateX(-40rem);
  transition: 0.6s;
}

#btn-3:checked ~ .info-wrapper .info-slider .info {
  transform: translateX(-80rem);
  transition: 0.6s;
}

#btn-4:checked ~ .info-wrapper .info-slider .info {
  transform: translateX(-120rem);
  transition: 0.6s;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

@media (max-width: 768px) {

  header {
    padding: 2rem;
  }

  .slider {
    width: 80%;
    margin-top: 2rem;
    margin: 3rem auto;
  }

  .info-slider {
    width: 100%;
  }

  .info-wrapper {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .info p {
    font-weight: 400;
  }

  .pagination {
    order: -1;
    margin: 1.2rem auto;
  }

  footer {
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
  }

  /* Slider animation mobile */
  #btn-1:checked ~ .img-slider .meme-slider {
    transform: translateX();
    transition: 0.6s;
  }
  
  #btn-2:checked ~ .img-slider .meme-slider {
    transform: translateX(-100%);
    transition: 0.6s;
  }
  
  #btn-3:checked ~ .img-slider .meme-slider {
    transform: translateX(-200%);
    transition: 0.6s;
  }
  
  #btn-4:checked ~ .img-slider .meme-slider {
    transform: translateX(-300%);
    transition: 0.6s;
  }

}


